#iperf3测试结果处理

我通过 iperf3跑出来一些性能数据，iperf3有个 python wrapper 可以处理测试结果。

第一步，安装 iperf3库

```bash
bash#pip3 install iperf3   
```

第二步, 